/* Base style for mobile devices */
html{
  scroll-behavior: smooth;
  cursor: default;
}
*{
  margin: 0;
  padding: 0;
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
body{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5EFEF;
  max-width: 100%;
  overflow-x:hidden;
}
h1{
  font-size: 2.5rem;
}
h3{
  font-size: 1.25rem;
}
hr{
  clear: both;
  display: block;
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 5%;
}
.section-divider{
  display: none;
}

/*------- HEADER ------*/
.header{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
.header h1{
  color: #931A25;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header h3{
  text-align: center;
  margin-bottom: 2%;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #931A25;
  transition: position 0.3s;
}
.nav-item{
  padding: 1rem;
  text-decoration: none;
  color: #F5EFEF;
}
.nav-item:hover{
  opacity: 0.7;
  text-decoration: underline;
}
.bi{
  padding-right: 0.4rem;
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* ---------- HOME SECTION ------- */

#home{
  height: 65vh;
}

.home-container{
  width: 90%;
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  height: fit-content;
}
.text-box{
  flex: 1;
  background-color: inherit;
  color: black;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.text-box h2{
  margin-bottom: 2%;
}
.service-container{
  margin-top: 3%;
}
#contact-us{
  background-color: #931A25;
  color: #F5EFEF;
  width: 40%;
  height: auto;
  border-radius: 5%;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5%;
  padding: 1rem;
}
#contact-us:hover{
  opacity: 0.7;
}
.img-box{
  display: none;
  border-radius: 5%;
}
/* ---------- GALLERY SECTION -------*/

#gallery{
  position: relative;
  box-sizing: border-box;
  height: 60vh;
  background-color: #931A25;
}
.gal-head{
  color:#F5EFEF;
  margin-top: 10%;
  border-radius: 0 3px 3px 0;
}
.slideshow-container{
  width: 90%;
  height: auto;
  position: inherit;
  margin: auto;
}
.mySlides{
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}
.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

/* ---------- CONTACT SECTION -------*/
#contact{
  height: 60vh;
}
.contact-container{
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 80%;
  margin-top: 10%;
}
.contact-box{
  flex: 1;
  background-color: inherit;
  color: black;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.contact-header{
  color:#931A25;
  font-size: 2rem;
}
.contact-link{
  text-decoration: none;
  color: black;
  padding: 5%;
}
.contact-link:hover{
  opacity: 0.7;
}
#map{
  display: none;
}

/* -------- REVIEWS ------ */

#reviews{
  height: 70vh;
}
#review-box{
  width: 100%;
  overflow-x: hidden;
}

/*------------ FOOTER ----- */

.footer{
  background-color: inherit;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  height: 5%;
  padding: 3%;
}

/* ---------- MEDIA QUERY -------*/

/* Media query for tablets and larger screens */
@media (min-width: 768px){
  body{
      font-size: 1.125rem;
  }
}

/*Media query for desktop screens */
@media (min-width: 1024px){
  /*------ BASE STYLES ------*/
  body{
      font-size: 1.25rem;
  }
  section{
      height: 150vh;
  }
  .section-divider{
      display: block;
  }

  /*----- HOME SECTION -----*/
  #home{
      height: 90vh;
  }
  .home-container{
      width: 80%;
      max-width: 1200px;
      height: 650px;
  }
  .text-box{
      flex: 1;
  }
  .img-box{
      display: flex;
      flex: 1;
  }
  .img-box img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
  }

  /*------ GALLERY SECTION -----*/
  #gallery{
      height: 100vh;
      background-color: inherit;
  }
  .gal-head{
      color:#931A25;
      padding-top: 3%;
  }
  .slideshow-container{
      width: 60%;
  }

  /*----- CONTACT SECTION -----*/
  #contact{
      height: 80vh;
  }
  .contact-container{
      height: 60%;
  }
  .contact-header{
      padding-bottom: 5%;
  }
  .contact-link{
      padding: 2%;
  }
  #map{
      display: flex;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

}